@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary-100: #f6eff8;
  --color-primary-600: #9d5da3;
  --color-primary-950: #371a38;
  --color-secondary: #0a0a0a;
  --color-secondary-700: #404040;
  --color-secondary-800: #262626;
  --color-secondary-900: #171717;
  --color-secondary-950: #0a0a0a;
  --color-border: #f5f5f5;
  --font-outfit: "Outfit", sans-serif;
}

@layer base {

  h1,
  .h1 {
    @apply font-outfit font-semibold text-[1.75rem] leading-9 md:text-[2.5rem] md:leading-12 lg:text-[3.5rem] lg:leading-17 text-secondary-900;
  }

  h2,
  .h2 {
    @apply font-outfit font-semibold text-[1.5rem] leading-8 md:text-[2rem] md:leading-10 lg:text-[2.5rem] lg:leading-12 text-black;
  }

  h3,
  .h3 {
    @apply font-outfit font-semibold text-[1.5rem] leading-8 md:text-[1.875rem] md:leading-9 lg:text-[2.125rem] lg:leading-10 text-secondary-900;
  }

  h4,
  .h4 {
    @apply font-outfit font-semibold text-[1.25rem] leading-7 md:text-[1.5rem] md:leading-8 lg:text-[1.75rem] lg:leading-10 text-secondary;
  }

  h5,
  .h5 {
    @apply font-outfit font-medium text-lg leading-6 md:text-xl md:leading-7 lg:text-2xl lg:leading-7.5 text-secondary;
  }

  h6,
  .h6 {
    @apply font-outfit font-medium text-base leading-5 md:text-lg md:leading-6 lg:text-[1.25rem] lg:leading-6 text-secondary-900;
  }

  body,
  p,
  a {
    @apply font-outfit font-normal text-sm leading-5 md:text-base md:leading-6 lg:text-base lg:leading-6 text-secondary-700 scroll-smooth;
  }

  a {
    @apply text-primary-600;
  }

  label {
    @apply font-outfit font-normal text-sm leading-5 md:text-base md:leading-6 lg:text-base lg:leading-6.5 text-secondary-900;
  }

  input,
  textarea {
    @apply p-4 font-outfit font-normal text-sm leading-5 text-[#A3A3A3] rounded border border-[#737373] h-13;
  }

  textarea {
    @apply h-39.5;
  }

  section {
    @apply py-10 md:py-15 lg:py-31;
  }

  .custom-pagination .swiper-pagination-bullet {
    @apply size-4 border border-[#B579BC] bg-primary-100 inline-block rounded-full mr-2.5 opacity-30;
  }
  .custom-pagination .swiper-pagination-bullet-active {
    @apply bg-white opacity-100;
  }

  .mySwiper2 .swiper-slide:first-child {
    @apply -ml-50;
  }

  .mySwiper3 .swiper-slide:first-child {
    @apply -ml-35;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-318 px-3 mx-auto;
  }
}

@layer components {
  .swiper-wrapper {
    align-items: stretch !important;
  }
}